*{
    padding: 0;
    margin: 0;
    color: #D9CCC1;
    background-color: #000;
}
body{
    background-color: #000;
}
header{
    background: red;
    padding: 1em;
    height: 110px;

}
header h1{
    display: inline;
    color: #fff;
    
}
.img-logo {
    float: left;
    display: inline;
}
.iz{
    float: right;
}
.img-logo img{
    display: inline;
    width: auto;
    height: 5em;
}
header a{
    font-size: 24px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
    padding: 0.3em 0.5em;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.6);
    transition: background-color 1s linear;

}

header form{
    display: inline;
    margin-left: auto;
    padding-left: 2em;
    width: 100%;
}

header label{
    font-size: 24px;
}

header input{
    padding: 0.7em 1em;
}

header button{
    padding: 0.7em 1em;
    cursor: pointer;
}

header input, button{
    font-size: 16px;
    border-radius: 5px;
    color: #000;
    background-color: #D9CCC1;
    border: solid 0px;
}
